<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/Styles-Body.css"/>
        <link rel="stylesheet" href="../static/css/Styles-Login.css"/>
        <link rel="icon" type="image/png" href="../static/img/icon.ico"/>
        <title>Login | Heaven Studio</title>
    </head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form>
        <h3>Login</h3>
        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="user">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="pass-word">
        <button>Log In</button>
        <button herf="/register" class="">
            <a href="/register" class="create-account">Create an account</a>
        </button>
        <button href="/accueil">
            <a href="/accueil" class="get-out">Get Out</a>
        </button>
        <div class="social">
            <div class="go"><i class="fab fa-google"></i>  Google</div>
            <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</body>
</html>