<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/icon.ico">
    <link rel="stylesheet" href="../static/css/Styles-Body.css">
    <link rel="stylesheet" href="../static/css/Styles2.css">    
    <title>About ? | Heaven Studio</title>
</head>
<body>
    <div>
        <h1 class="titre">En Savoir Plus ?</h1>
    </div>
    <div class="container">
        <h3>Comment nous utilisons vos cookies ?</h3>
        <img src="../static/img/cokkie.png" alt="Image Cookies" height="50">
        <p>Dans le contexte actuel où la protection de la vie privée et la conformité aux réglementations sur la confidentialité des données sont des préoccupations majeures, la gestion des cookies par une entreprise revêt une importance cruciale. Une entreprise consciencieuse met en place des politiques claires et transparentes concernant l'utilisation des cookies sur ses plateformes en ligne.
            Tout d'abord, elle informe les utilisateurs de l'existence des cookies, de leur finalité et des données qu'ils collectent. Cette information est généralement présentée via une bannière ou un pop-up dès l'arrivée sur le site, offrant aux utilisateurs la possibilité de consentir ou de refuser l'utilisation des cookies non essentiels.
            Ensuite, l'entreprise s'assure que seuls les cookies nécessaires au bon fonctionnement du site sont activés par défaut, tandis que les cookies de suivi ou de publicité sont désactivés jusqu'à ce que l'utilisateur donne son consentement explicite. De plus, elle met en place des mécanismes permettant aux utilisateurs de gérer leurs préférences en matière de cookies à tout moment, avec la possibilité de modifier leurs choix ou de retirer leur consentement.
            Enfin, l'entreprise veille à ce que les données collectées par le biais des cookies soient traitées de manière sécurisée et conforme aux lois sur la protection des données, en garantissant la confidentialité et la sécurité des informations personnelles des utilisateurs. En adoptant une approche proactive et respectueuse de la vie privée, une entreprise démontre son engagement envers la transparence, le contrôle et le respect des droits des individus en ligne.</p>
    </div>
    <div>
        <h3>Vous nous faites gagner de l'argent ?</h3>
        <div id="graphiqueVtb" class="argent">
            <dl class="tailleh"><dt class="equipe1">Revenue publicitaire...</dt>20%</dl>
            <dl class="tailleh"><dt class="equipe3">Revente de donné...</dt>60%</dl>
            <dl class="tailleh"><dt class="equipe2">Modèle prenium...</dt>20%</dl>
            <dl class="tailleh"><dt class="equipe4">Collaboration...</dt>0%</dl>
        </div>
    </div>




    <div>
        <button>
            <a href="/accueil" class="btn-accueil">Page d'Accueil</a>
        </button>
    </div>
</body>
</html>