<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="../static/img/icon.ico">
    <link rel="stylesheet" href="../static/css/Styles-Body.css">
    <link rel="stylesheet" href="../static/css/Styles-product.css">
    <title>Product Home | Heaven Studio</title>
</head>
<body>
    <div class="head">
        <div class="user">
            <p>Deleted User</p>
        </div>
    </div>
</body>
</html>