<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../static/css/Styles-Body.css"/>
        <link rel="stylesheet" href="../static/css/Styles-Login.css"/>
        <link rel="icon" type="image/png" href="../static/img/icon.ico"/>
        <title>Login | Heaven Studio</title>
    </head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form action="/submit" method="post">
        <h3>Create a Account</h3>
        <label for="username">Username</label>
        <input type="text" placeholder="Email or Phone" id="user" name="user" required minlength="5" maxlength="15">
        <label for="password">Password</label>
        <input type="password" placeholder="Password" id="pass-word" name="pass-word" required minlength="5" maxlength="15">
        <label for="re-password">Confirm PassWord</label>
        <input type="password" placeholder="Confirm PassWord" id="re-pass-word" name="re-pass-word" required minlength="5" maxlength="15">
        <button type="submit" class="">
            <a class="create-account">Create an account</a>
        </button>
        <button href="/accueil">
            <a href="/accueil" class="get-out">Get Out</a>
        </button>
        <div class="social">
            <div class="go"><i class="fab fa-google"></i>  Google</div>
            <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
        </div>
    </form>
</body>
</html>